<html>
<head>
<title>Person info</title>
<meta http-equiv="refresh" content="1">  
</head>

<body>
<h1>Age: <%= info.age %></h1>
<br/>
<h1>Gender: <%= info.gender %></h1>
<br/>
<h1>Expression: <%= info.face_expression %></h1>


</body>
</html>