<html>
<head>
	<title> Face detection </title>
	<meta http-equiv="refresh" content="1" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<table id="info">
	<tr><th colspan="2"> Information </th>
	<tr><td class="label">Age</td><td id="age"><%= info.age %></td></tr>
	<tr><td class="label">Gender</td><td id="gender"><%= info.gender %> </td></tr>
	<tr><td class="label">Expression</td><td id="expression"><%= info.face_expression %></td></tr>
</table>

</body>

</html>